body {
  background-color: #131921;
  color: whitesmoke;
}

.content {
  padding: 3%;
}

.red {
  background-color: darkred;
  padding: 4%;
}

.blue {
  background-color: darkblue;
  padding: 4%;
}

.white { 
  color: whitesmoke;
}

.row{
text-align:center;
}